*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --primary:#000;
    --primary2: #106323;
    --lightgreen: #E0ECDC;
    --secondary: #fff;
    --secondary2:#FFFBF6;
    --third:#FFDD00;
    --font-curly:"Sofia";


  }
 
  /* header */
  header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
    font-family: sans-serif;
    align-items: center;
    position: relative;
    background-position:center;
  }
  nav li{
    list-style: none;
  }
  nav{
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background: #000;
    color: var(--secondary);
    padding: 0.5rem 3rem;
  }
  nav .logo img{
    height: 6vh;
    animation: rotation 8s infinite linear;
    width: 100%;
  }
   @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  nav .logo a{
    text-decoration: none;
    padding: 1rem;
    color: var(--secondary);
    font-family: 'Delius Swash Caps';
    font-weight: 800;

  }
  header video source{
    height: 100vh;
    width: 100%;
    background-size: cover;
  }
  nav .logo {
    display: flex;
    color: var(--secondary);
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .navbar{
    display: flex;
    gap: 1rem;
    letter-spacing: 1px;
    align-items: center;
    z-index: 3;
  }
  .navbar a{
    text-decoration: none;
    color: var(--secondary);
    transition: 0.3s;
    text-transform: uppercase;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .navbar a:hover{
    transform: scale(1.1);
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary2);
    color: var(--secondary);
  }
  header .main{
    position: absolute;
    z-index: 2;
    height: 70vh;
    align-self: center;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin-top: 10rem;
   }
  header  .text{
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7458333675266982) 0%);
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
    border-radius: 10%;
    font-size: 1.3rem;
  }
  header .text h1{
    font-family: Georgia, serif;
    text-transform: capitalize;
  }
 
  header .text span{
    display: block;
  }
  header .text p{
    line-height: 3rem;
    font-size: 2rem;
    font-family: sans-serif;
  }
  /* responsive navbar hamburger */
  .hamburger{
    display: none;
    cursor: pointer;
    align-self: center;
    position: absolute;
    z-index: 10;
  }
  .bar{
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  @media(max-width:1400px){
    .hamburger{
        display: block;
        z-index: 3;
        position: relative;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
        position: absolute;
        left: 100%;
        right: -50%;
        top:70px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 50%;
        justify-content: space-evenly;
        text-align: center;
        z-index: 3;
        transition: 0.3s;
        padding-bottom: 1rem;
    }
    .navbar a{
      font-weight: 600;
      font-size: 1rem;
      margin: 0.1rem;
    }
    .navbar.active{
        left: 0;
    }
  }
  @media(max-width: 800px){
    header .text{
        font-size: 0.9rem;
    }
    header .main{
        width: 90%;
    }
    header .text p{
        line-height: 2rem;
        font-size: 1.4rem;
    }
  }

  /* header */

.sec-1{
  width: 100%;
  background-color: var(--lightgreen);
}
.sec-1 .box{
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-1 h1{
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--primary2);
  padding: 2rem;
}
.sec-1 .cards{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 70%;
  justify-content: center;
  align-items: center;
}
.sec-1 img{
  border-radius: 50%;
  border: 1px solid var(--primary2);
  height: 200px;
  width: 350px;
}
.sec-1 .card{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.sec-1 p{
  letter-spacing: 2px;
  line-height: 2rem;
}

.sec-1 span{
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary2);
  font-family: var(--font-curly);
}

@media(max-width:1000px){
  .sec-1 .card{
    flex-direction: column;
    width: 90%;
    text-align: center;
    padding: 1rem;
  }
  .sec-1 .cards{
    width: 100%;
  }
  .sec-1 .card1 img{
    order: 1;
  }
  .sec-1 .card1 p{
    order: 2;
  }
  .sec-1 .card3 img{
    order: 1;
  }
  .sec-1 .card3 p{
    order: 2;
  }
  .sec-1 .card img{
    width: 200px;
  }
}
@media(max-width:500px){
  .sec-1 .card{
    width: 95%;
  }
}


.sec-2{
  width: 100%;
  background: url(./Pics/pexels-amina-filkins-5414032.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-2 h1{
  text-transform: uppercase;
  color: var(--primary2);
  padding: 1rem;
}
.sec-2 .main{
  width: 80%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(224,236,220,0.7598389697675946) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 1rem;
  border: 3px dashed var(--primary2);
}
.sec-2 .register{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 50%;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--primary2);
}
.sec-2 .register button{
  padding: 0.5rem;
  background-color: #106323;
  color: var(--secondary);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}
.sec-2 input{
  padding:0.5rem;
}


@media(max-width:750px){
  .sec-2 .register{
    width: 90%;
  }
  .sec-2 .main{
    width: 90%;
  }
}



 /* footer */
 footer {
  width: 100%;
}
footer .box{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 3rem;
  align-items: baseline;
}
footer .card1 img{
  width: 50px;
  transition: 0.5s ease;
}
footer .card1 img:hover{
  transform:rotate(180deg);
}
footer .card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}
footer .card1{
  width: 40%;
}
footer .card1 p:nth-child(3){
  font-size: 1rem ;
  font-family: sans-serif;
  line-height: 1.5rem;
}
footer .card1 a:nth-child(2){
  text-decoration: none;
  color: var(--primary2);
  font-family: var(--font-curly);
  font-size: 2rem;
  font-weight: 700;
}
footer .card2 li{
  letter-spacing: 2px;
  list-style: none;
  padding: 0.5rem;
}
footer .card2 p{
  font-size: 1.8rem;
  font-weight: 700;
}

footer .card3{
  width: 35%;
}
footer table td{
  padding: 0.5rem;
  text-align: left;
}
footer .card3 p{
font-weight: 700;
text-transform: capitalize;
font-size: 1.8rem;
}
footer .card3 .head{
font-weight: 700;
text-transform: uppercase;
}

@media screen and (max-width:1250px) {
footer .box{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
footer .card1 img{
  align-self: center;
  width: 80px;
}
footer .card{
  width: 80%;
}
footer table{
  justify-content: center;
  display: flex;
}
}

/* footer */